<!-- Main component for a primary marketing message or call to action -->

<div class="row" data-ng-controller="HomeController">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="prev()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default" ng-click="next()">
                <i class="fa fa-chevron-right"></i>
            </button>
            <strong>{{weekStart}} - {{weekEnd}}</strong>
            Today is {{today}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table time-entry">
                <thead>
                    <tr>
                        <th ng-repeat="date in range" width="20%">
                            <span>{{date}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="date in range" width="20%">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel title</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="alert alert-info" ng-repeat="record in getEntries(date)">
                                        <strong>Student:</strong><br>
                                        {{record.name}}
                                        <br>
                                        <strong>Time In:</strong><br>
                                        {{record.timeRecord.timeIn}}
                                        <br>
                                        <strong>Time Out:</strong><br>
                                        {{record.timeRecord.timeOut}}
                                    </div>
                                    <button type="button" class="btn btn-success btn-block">
                                        <i class="fa fa-checkl"></i>
                                        Approve Time
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Footer</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
